/* atkinson-hyperlegible-next-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Atkinson Hyperlegible Next";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/atkinson-hyperlegible-next-v6-latin-regular.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* atkinson-hyperlegible-next-italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Atkinson Hyperlegible Next";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/atkinson-hyperlegible-next-v6-latin-italic.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* atkinson-hyperlegible-next-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Atkinson Hyperlegible Next";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/atkinson-hyperlegible-next-v6-latin-700.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* atkinson-hyperlegible-next-700italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Atkinson Hyperlegible Next";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/atkinson-hyperlegible-next-v6-latin-700italic.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* genshin HYWenHei*/
@font-face {
    font-display: swap;
    font-family: "HYWenHei";
    font-weight: 400;
    src: url("../fonts/genshin.woff2") format("woff2");
}