.app-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--bg-base);
    /* background-color: white; */

    .app-header {
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
        padding: 0.8rem 1.25rem;
        background: var(--bg-header);
        border-bottom: 1px solid var(--border);
        gap: 1rem;

        h1 {
            margin: 0;
            font-family: "HYWenHei", "Atkinson Hyperlegible Next", sans-serif;
            font-size: 1.5rem;
            font-weight: 400;
            color: var(--accent);
            white-space: nowrap;
            /* text-box: trim-both cap alphabetic; */
        }

        .top-nav {
            display: flex;
            flex-direction: row;
            padding: 0 1rem;
            gap: 1.2rem;
            font-family: "HYWenHei", "Atkinson Hyperlegible Next", sans-serif;
            font-size: 1rem;

            .nav-item {
                display: flex;
                flex-direction: column;
                color: var(--text-primary);
                text-decoration: none;

                /* span {
                text-box: trim-both cap alphabetic;
            } */
            }
        }
    }

    .content-layout {
        display: flex;
        flex: 1;
        overflow: hidden;
        width: 100%;
        max-width: 1920px;
        margin: 0 auto;
    }

    .pill {
        display: block;
        padding: 1px 7px;
        border-radius: 999px;
        background-color: var(--pill-colour, var(--default));

        color: var(--pill-text, var(--text-primary));
        /* font-size: 12px; */
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
